@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.blog-content {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 130px;
  margin-top: 70px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

.blog-content h1 {
  font-size: 2rem;
}

#article-title {
  font-size: 2.5rem;
}

.article-abstract {
  color: rgb(65, 69, 73);
  line-height: 34px;
  font-size: 1.1rem;
}

.blog-article-intro {
  margin-bottom: 2.2rem;
  border-bottom: 1px solid rgba(53, 56, 57, 0.3);
}

.blog-article-intro > p {
  padding: 0.8rem 0;
}

.blog-content h1,
h2,
h3,
h4,
h5,
h6 {
  color: #323232;
}

.blog-content p {
  color: #414549;
  letter-spacing: -0.001em;
  line-height: 1.6;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 1rem;
}

.blog-content figcaption {
  color: #757575;
  font-size: 0.8rem;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.blog-content a {
  text-decoration: none;
  color: #1c93c5;
  font-weight: 700;
}

.blog-content a:visited {
  color: #16759d;
}

.blog-content a:hover {
  color: #000;
}

.blog-dot-divider {
  font-size: 15px;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.blog-dot-divider::after {
  content: '\00B7';
}

.blog-content-header {
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 30px;
}

.article-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0;
}
