.skills-category {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  color: #663399;
  margin-bottom: 10px;
}

.skills-list > span:first-child {
  margin-left: 0;
}

.skills-list > span {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 5px;
  user-select: none;
}

.skills-list > span.front-end {
  color: #0366d6;
}

.skills-list > span.back-end {
  color: #589636;
}

.skills-list > span.test {
  color: #d93f0b;
}

.skills-list > span.etc {
  color: #f57c00;
}

.skills-list > span.dusty {
  color: #4f5b93;
}

@media (max-width: 600px) {
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    border-left: 0.5px solid rgba(27, 104, 163);
  }

  .skills-list > span,
  .skills-list > span:first-child {
    margin: 8px 10px;
  }
}
