.about {
  padding: 50px;
  background-color: #f6f6f6;
  border-top: 1px solid #ebebeb;
}

.about > h2 {
  text-align: center;
}

.about p {
  font-family: 'Open Sans', sans-serif;
  color: #666666;
}
