.article-featured-image {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.link-header {
  text-align: center;
  color: #424242;
  letter-spacing: 0.25px;
}

.link-header > a {
  text-decoration: none;
  color: #424242;
}

.link-header > a:hover {
  color: #4285f4;
}

.article-content {
  /* padding: 30px; */
}

.article-abstract {
  color: #424242;
}

.article {
  padding-bottom: 50px;
  margin-bottom: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.article-tags {
  margin-bottom: 35px;
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
}

.link-button {
  text-decoration: none;
  margin-top: 100px;
  border-radius: 3px;
  padding: 5px 8px;
  color: white;
  background-color: #1b5e20;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}

.link-button:hover {
  background-color: #2e7d32;
}
